.donation-wrapper {
  width: 327px;
  height: 509px;
  padding: 24px 16px 32px;
  border-radius: 8px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #181d26;
  box-shadow: 0px 4px 4px 0px #00000040;
}

.donation-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.donation-header h2 {
  color: #f7f7f8;
  font-size: 18px;
  font-weight: 600;
  line-height: 21px;
  text-align: left;
}

.profile-picture {
  width: 158px;
  height: 206px;
  border-radius: 8px;
  margin: 24px 70.5px 10px;
}

.subtitle {
  color: var(--white);
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  opacity: 0.4px;

  margin-left: 70.5px;
}

.title {
  color: #f7f7f8;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  text-align: left;
  margin-left: 70.5px;
  margin-top: 6px;
}

/* input */
.input-wrapper {
  display: flex;
  align-items: center;
  margin: 24px 0;
  position: relative;
}

input {
  width: 295px;
  height: 58px;
  padding: 16px;
  border-radius: 8px;
  border: 1px solid var(--white);
  background-color: #272f3d;
}

.input-wrapper img {
  width: 24px;
  height: 24px;
  position: absolute;
  right: 16px;
}

/* button */
.delete-button {
  width: 14px;
  height: 14px;
}

.Button {
  width: 295px;
  height: 42px;
  padding: 8px;
  border-radius: 3px;
  color: var(--white);
}

.Button_inactive {
  background-color: #828282;
}

.Button_active {
  background-color: linear-gradient(90deg, #f86f65 0%, #fe5493 100%);
}
