.add-favorite-idol-list {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(8, 1fr);
  row-gap: 32px;
  column-gap: 24px;
}

@media (max-width: 1199px) {
  .add-favorite-idol-list {
    grid-template-columns: repeat(4, 1fr);
    row-gap: 24px;
    width: 584px;
    margin: 0 auto;
  }
}

@media (max-width: 767px) {
  .add-favorite-idol-list {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 17px;
    width: 328px;
  }
}
