.section-my-favorite-idol {
  margin-bottom: 40px;
  border-bottom: solid 1px #ffffff26;
}

.favorite-idol-list-title {
  margin-bottom: 32px;
  font-size: 24px;
  font-weight: bold;
  line-height: 26px;
}
