.section-my-favorite-idol {
  margin-top: 76px;
  margin-bottom: 40px;
  border-bottom: solid 1px #ffffff26;
}

.favorite-idol-list-title {
  margin-bottom: 32px;
  font-size: 24px;
  font-weight: bold;
  line-height: 26px;
}

@media (max-width: 1199px) {
  .section-my-favorite-idol {
    margin-top: 14px;
    margin-bottom: 32px;
  }

  .favorite-idol-list-title {
    margin-bottom: 25px;
    font-size: 20px;
  }
}

@media (max-width: 767px) {
  .favorite-idol-list-title {
    margin-bottom: 12px;
    font-size: 16px;
  }
}
