.myFavoriteIdolList {
  width: 100%;
  margin-bottom: 83px;
  white-space: nowrap;
  overflow-x: auto;
  /* 스크롤 바 숨기기 */
  -ms-overflow-style: none; /*IE, Edge*/
  scrollbar-width: none; /*Firefox*/
  ::-webkit-scrollbar {
    display: none; /*Chrome, Safari, Opera*/
    width: 0px;
  }
}
