{
  "extends": ["react-app", "airbnb", "plugin:prettier/recommended"],
  "plugins": ["prettier"],
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
    "react/prop-types": "off",
    "react/button-has-type": "off",
    "comma-dangle": "off",
    "prettier/prettier": ["error", { "singleQuote": true }],
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/no-static-element-interactions": "off",
    "no-console": "off",
  },
}
