.modal-lack-of-credit {
  .modal-header {
    padding-bottom: 0;
    .btn-close {
      margin-left: auto;
    }
  }
  .modal-content {
    .icon-credit {
      width: 150px;
      height: 150px;
      margin: 0 auto;
    }
    .title {
      font-size: 16px;
      font-weight: 500;
      line-height: 26px;
      color: var(--white);
      text-align: center;
      span {
        color: var(--brand-orange);
      }
    }
  }
  .modal-footer {
    margin-top: 20px;
  }
}
