.favorite-idol-list {
  width: 1200px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .favorite-idol-list {
    width: 744px;
    padding-right: 24px;
    padding-left: 24px;
  }
}

@media (max-width: 767px) {
  .favorite-idol-list {
    width: 376px; /* figma에는 374px인데,  */
  }
}
