.header {
  display: flex;
  justify-content: center; /* 수평 가운데 정렬 */
  align-items: center; /* 수직 가운데 정렬 */
  height: 80px; /* 높이 설정 */
  padding: 0 20px; /* 좌우 패딩 추가 (필요시 조정) */
  position: relative; /* 프로필 이미지의 절대 위치 지정을 위해 */
  background-color: transparent; /* 배경색 없애기 */
}

.header-logo-container {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
}

.header-profile-container {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  position: absolute; /* 프로필 이미지를 오른쪽에 위치시키기 위해 */
  right: 20px; /* 오른쪽 여백 조정 */
}

.header-logo {
  width: 167.92px; /* 로고 크기 조정 */
  height: auto;
}

.header-profile {
  width: 32px; /* 프로필 이미지 크기 조정 */
  height: 32px; /* 프로필 이미지 크기 조정 */
  border-radius: 50%; /* 원 형태로 만들기 */
}
