.header-container {
  height: 80px;
  background: var(--gray-900);
  position: fixed;
  right: 0px;
  left: 0px;
  z-index: 1000;
}

.header-wrapper {
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  height: 100%;
  position: relative;
}

.header-logo-container {
  background: none;
  border: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.header-profile-container {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  position: absolute;
  right: 0;
}

.header-logo {
  width: 167.92px;
  height: auto;
}

.header-profile {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

@media (max-width: 1199px) {
  .header-container {
    padding: 0 24px;
  }
  .header-logo {
    width: 120px;
  }
}

@media (max-width: 767px) {
  .header-container {
    height: 40px;
  }
  .header-logo {
    width: 108px;
  }
}