@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

.donation {
  .slick-list {
    @media (max-width: 1199px) {
      padding: 0 24px;
    }
  }
}

.slick-arrow {
  position: absolute;
  width: 40px;
  height: 78px;
  color: #fff;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 6px;
  cursor: pointer;
  &.slick-prev {
    left: -52px;
    background: url(../assets/images/btn_pagination_arrow_left.svg);
    &.slick-disabled {
      background: none;
    }
  }
  &.slick-next {
    right: -52px;
    background: url(../assets/images/btn_pagination_arrow_right.svg);
    &.slick-disabled {
      background: none;
    }
  }
  &:hover {
    opacity: 0.9;
  }
  &.slick-prev:before,
  &.slick-next:before {
    display: none;
  }
}
