.chart {
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: 80px auto;
}

.chart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  h3 {
    font-size: 24px;
  }
  .btn-modal-open {
    font-size: 13px;
    font-weight: 600;
    padding: 0.725em 1.3em;
    border-radius: 3px;
    color: var(--white);
    background: var(--brand-gradation);
  }
}

.chart-tab {
  display: flex;
  width: 100%;
  margin-bottom: 24px;
  .chart-tab-button {
    width: 50%;
    padding: 1em;
    font-size: 14px;
    color: var(--gray-400);
    &.active {
      color: var(--white);
      border-bottom: 1px solid var(--white);
      background-color: rgba(255, 255, 255, 0.1);
    }
  }
}

.btn-more {
  text-align: center;
  width: 326px;
  padding: 0.725em 1.3em;
  border: 1px solid rgba(241, 238, 249, 0.8);
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--white);
  border-radius: 3px;
  font-size: 14px;
  margin: 51px auto 0;
}