.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.modal {
  background-color: #181d26;
  width: 327px;
  height: 372px;
  border-radius: 8px;
  padding: 20px;
  position: relative;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.modal-header h2 {
  color: white;
  margin: 0;
  font-size: 18px;
}

.close-btn {
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.modal-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: white;
}

.modal-content label {
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: #02000e;
  border: 1px solid #f7f7f8;
  border-radius: 8px;
  height: 62px;
  padding: 0 20px;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 700;
  transition: border-color 0.3s ease;
}

.modal-content label.selected {
  border: 1px solid #f96d69;
}

.modal-content label.selected input {
  border: 2.5px solid #f96d69;
}
.radio-credit-wrapper {
  display: flex;
  align-items: center;
}

.radio-credit-wrapper img {
  height: 30px;
}

.modal-content input[type="radio"] {
  appearance: none;
  background-color: #f7f7f8;
  border: 2.5px solid #8c92ab;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  position: relative;
  margin-right: 10px;
}

.modal-content input[type="radio"]:checked::before {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #f96d69;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-footer {
  margin-top: 20px;
}

.modal-footer button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(
    to right,
    rgba(248, 111, 101, 1),
    rgba(254, 84, 147, 1)
  );
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
  border-radius: 8px;
  font-weight: 700;
}

.modal-footer button:hover {
  background-color: #45a049;
}

.button-close {
  width: 24px;
  height: 24px;
  background: url(../../../../assets/images/btn_close.png) no-repeat center
    center;
  background-size: cover;
  display: block;
}
