.modal-chart {
  position: relative;
  width: 525px;
  @media (max-width: 767px) {
    width: 100%;
    height: 100%;
  }
  .modal-header {
    padding-bottom: 12px;
    h4.title {
      @media (max-width: 767px) {
        margin: 0 auto;
      }
    }
  }
  .btn-close {
    background: none;
    @media (max-width: 767px) {
      position: absolute;
      left: 20px;
      top: 18px;
    }
    .icon-btn-close {
      @media (max-width: 767px) {
        background: url(../../../../assets/images/icon_arrow_left.svg) no-repeat
          center center !important;
      }
    }
  }

  .modal-content {
    gap: 0;
    overflow-y: auto;
    max-height: 500px;
    -ms-overflow-style: none;
    scrollbar-width: none;
    ::-webkit-scrollbar {
      display: none;
      width: 0px;
    }
    @media (max-width: 767px) {
      max-height: calc(100% - 110px);
      padding: 0 12px;
    }
    label {
      display: flex;
      align-items: center;
    }
  }

  .modal-footer {
    padding-top: 0;
    p {
      padding-top: 20px;
      text-align: center;
      font-size: 12px;
      span {
        color: var(--brand-orange);
      }
    }
  }

  .modal-content input[type="radio"]:checked::before {
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #f96d69;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .modal-idol-info {
    display: flex;
    gap: 8px;
  }
  .idol-radio {
    margin-left: auto;
  }
  .idol-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  .idol-info {
    display: grid;
    gap: 0 12px;
    grid-template-areas:
      "img rate group name"
      "img rate vote vote";
    .idol-image {
      grid-area: img;
      .selected-idol-check {
        width: 50%;
        height: 50%;
      }
    }
    .idol-rate {
      grid-area: rate;
    }
    .idol-group {
      padding-top: 12px;
      grid-area: group;
    }
    .idol-name {
      padding-top: 12px;
      margin-left: -5px;
      grid-area: name;
    }
    .idol-vote-rate {
      padding-bottom: 12px;
      grid-area: vote;
      color: rgba(255, 255, 255, 0.6);
    }
  }
}
.idol-container.selected {
  input[type="radio"] {
    border-color: var(--brand-orange);
    &:before {
      position: absolute;
      content: "";
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: var(--brand-orange);
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
