.chart-modal {
  background-color: #181d26;
  width: 525px;
  border-radius: 8px;
  position: relative;
  @media (max-width: 767px) {
    width: 100%;
    height: 100%;
  }
  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 20px 20px 0;
  }

  .modal-header {
    @media (max-width: 767px) {
      justify-content: center;
    }
    h2 {
      color: white;
      margin: 0;
      font-size: 18px;
      @media (max-width: 767px) {
        font-size: 14px;
        text-align: center;
      }
    }
  }

  .close-btn {
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    @media (max-width: 767px) {
      position: absolute;
      left: 20px;
      top: 18px;
    }
  }

  .modal-content {
    display: flex;
    flex-direction: column;
    gap: 0;
    color: white;
    overflow-y: auto;
    max-height: 500px;
    padding: 0 20px;
    /* 스크롤 바 숨기기 */
    -ms-overflow-style: none; /*IE, Edge*/
    scrollbar-width: none; /*Firefox*/
    ::-webkit-scrollbar {
      display: none; /*Chrome, Safari, Opera*/
      width: 0px;
    }
    @media (max-width: 767px) {
      max-height: calc(100% - 150px);
      padding: 0 24px;
    }
  }

  .modal-content label {
    display: flex;
    align-items: center;
  }

  .modal-footer {
    width: 100%;
    padding: 0 20px 20px;
    margin: 0;
    p {
      padding-top: 20px;
      text-align: center;
      font-size: 12px;
      b {
        color: var(--brand-orange);
      }
    }
  }

  .modal-content input[type="radio"]:checked::before {
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #f96d69;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .modal-idol-info {
    display: flex;
    gap: 8px;
  }
  .idol-radio {
    margin-left: auto;
  }
  .idol-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  .idol-info {
    display: grid;
    gap: 0 12px;
    grid-template-areas:
      "img rate group name"
      "img rate vote vote";
    .idol-image {
      grid-area: img;
      .selected-idol-check {
        width: 50%;
        height: 50%;
      }
    }
    .idol-rate {
      grid-area: rate;
    }
    .idol-group {
      padding-top: 12px;
      grid-area: group;
    }
    .idol-name {
      padding-top: 12px;
      margin-left: -5px;
      grid-area: name;
    }
    .idol-vote-rate {
      padding-bottom: 12px;
      grid-area: vote;
      color: rgba(255, 255, 255, 0.6);
    }
  }
}
.idol-container.selected {
  input[type="radio"] {
    border-color: #f96d69;
    &:before {
      content: "";
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: #f96d69;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
