.modal-donation {
  .modal-content {
    gap: 24px;
    .idol-info {
      display: flex;
      flex-direction: column;
      gap: 5px;
      margin: 0 auto;
      width: 158px;
      .profile-picture {
        width: 100%;
        border-radius: 8px;
      }
      .subtitle {
        width: 100%;
        color: var(--white);
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
        opacity: 0.4;
        margin-top: 8px;
      }
      .title {
        width: 100%;
        color: var(--white);
        font-size: 14px;
      }
    }
  }
}
/* input */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.input-wrapper input {
  width: 295px;
  height: 58px;
  padding: 16px;
  border-radius: 8px;
  border: 1px solid var(--white);
  background-color: #272f3d;
  color: var(--white);
}

.input-wrapper img {
  width: 24px;
  height: 24px;
  position: absolute;
  right: 16px;
}

.donation-input-error {
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  text-align: left;
  color: var(--error);
  margin-top: 6px;
}
